body {
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  margin: 0;
  padding: 0;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2rem;
  color: #d63031;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container {
  background-color: #f9e79f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%; /* Left column */
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin: 10px 0;
  min-height: 150px;
}

.submit-btn {
  background-color: #d63031;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #c0392b;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%; /* Right column */
  margin-left: 20px;
}

.post-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #d63031;
}

.post-location {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.post-blog {
  font-size: 1rem;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.image-input {
  margin-top: 10px;
}

.post-image {
  margin-top: 15px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

